@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Products</h1>
    <div class="row">
        <div class="carousel1">
            <div><img src="\lib\img\bino1.png"></div>
            <div><img src="\lib\img\bino2p.png"></div>
            <div><img src="\lib\img\telescope1.png"></div>
            <div><img src="\lib\img\bino3.png"></div>
        </div>
    </div>
</div>
