<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - verto_app</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/verto_app.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!--BODY-->

<body>
    <header>
        
         <div class="column small-6 large-8" data-equalizer-watch="" style="position: relative; height: 45px;">
            <a href="/" title="Opticron"><img src="\lib\img\header-logo.png" alt="Opticron logo" /></a>
        </div>
        
        <nav>

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="products" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Our Products
            </button>
            <div class="dropdown-menu" aria-labelledby="products">
                <a class="dropdown-item" href="#">Products</a>
            </div>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="products" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Where to buy
            </button>
            <div class="dropdown-menu" aria-labelledby="products">
                <a class="dropdown-item" href="#">Stores and stockists</a>
            </div>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="products" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                News &amp; Reviews
            </button>
            <div class="dropdown-menu" aria-labelledby="products">
                <a class="dropdown-item" href="#">News Articles</a>
                <a class="dropdown-item" href="#">Reviews </a>
            </div>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="products" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Help &amp; Support
            </button>
            <div class="dropdown-menu" aria-labelledby="products">
                <a class="dropdown-item" href="#">Help</a>
                <a class="dropdown-item" href="#">Support</a>
            </div>
            <div>
            <a id="lnkBasketIcon" href="/my-opticron/basket" style="color: #777; font-size: 20px;"><img id="imgBasket" src="\lib\img\header-basket.png" style="vertical-align: top;"></a>
            </div>

            <div class="search-container">
                <form action="/action_page.php">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
        </nav>
     </header>

 <!--Banner Carousel-->

 <section>
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/lib/img/carousel/banner.png" class="d-block w-100" alt="..." />
                </div>
                <div class="carousel-item">
                    <img src="~/lib/img/carousel/banner.png" class="d-block w-100" alt="..." />
                </div>
              
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
 </section>  

 <!--Cards-->

 <section>
        <div class="container text-center">
            <div class="row">
              <div class="col">
                <div class="card" style="width:13rem;">
                    <div class="card-divider">
                        New Products
                    </div>
                    <img src="\lib\img\Eagle.png">
                    <div class="card-section">
                        <p>Lorem ipsum text paragraph</p>
                        <a href="newproducts.html" class="button">New Products</a>
                    </div>
                </div>
              </div>

              <div class="col">
                <div class="card" style="width: 13rem;">
                    <div class="card-divider">
                        Field Events
                    </div>
                    <img src="\lib\img\People.png">
                    <div class="card-section">
                        <p>Lorem ipsum text paragraph</p>
                        <a href="events.html" class="button">View Events</a>
                    </div>
                </div>
              </div>

              <div class="col">
                <div class="card" style="width: 13rem;">
                    <div class="card-divider">
                        Latest News
                    </div>
                    <img src="\lib\img\valley.png">
                    <div class="card-section">
                        <p>Lorem ipsum text paragraph</p>
                        <a href="news.html" class="button">Read Article</a>
                    </div>
                </div>
              </div>

              <div class="col">
                <div class="card" style="width: 13rem;">
                    <div class="card-divider">
                        Gallery
                    </div>
                    <img src="\lib\img\bluetit.png">
                    <div class="card-section">
                        <p>Lorem ipsum text paragraph</p>
                        <a href="gallery.html" class="button">View Gallery</a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>

 <!--Special Offers-->
    <section class="container text-center">
        <h5>Special Offers</h5>
        <div class="row">
            <div class="col" style="width: 120px;">
                <img src="~/lib/img/cashback.png" />
            </div>
            <div class="col" style="width: 120px;">
                <img src="~/lib/img/olympus.png" /> 
            </div>
            <div class="col" style="width: 120px;">
                <img src="~/lib/img/scope.png" /> 
            </div>
        </div>
    </section>

<!--Products carousel from Database-->

    <div id="carouselExampleIndicators" class="carousel-slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 4"></button>
        </div>

        <div class="carousel-inner text-center">
            <div class="carousel-item active">
                <img src="~/lib/img/bino1.png" alt="bino1" />
            </div>
            <div class="carousel-item">
                <img src="~/lib/img/bino2.png" alt="bino2" />
            </div>
            <div class="carousel-item">
                <img src="~/lib/img/telescope1.png" alt="telescope1" />
            </div>
            <div class="carousel-item">
                <img src="~/lib/img/bino3.png" alt="bino3" />
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="false"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="false"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


<!--FOOTER-->
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Med1cated1/M.Charles - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>


<!--JS.SCRIPTS-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
